<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="UserCRUD">
    <!-- call UserCRUD.selectFromUSERDATA -->
    <select id="selectFromUSERDATA" parameterType="Map" resultType="Map">
        SELECT * 
        FROM USERDATA
    </select>

    <!-- call UserCRUD.selectOneFromUSERDATA -->
    <select id="selectOneFromUSERDATA" parameterType="Map" resultType="Map">
        SELECT * 
        FROM USERDATA
        WHERE USER_UID = #{USER_UID}
    </select>

    <!-- call UserCRUD.updateByUSER_UID -->
    <update id="updateByUSER_UID" parameterType="Map">
        update userdata
        set NAME = #{NAME}, ID = #{ID}, PASSWORD = #{PASSWORD}, PHONE_NUMBER = #{PHONE_NUMBER}, BIRTHDAY = #{BIRTHDAY}, EMAIL = #{EMAIL}, SMS_AD = #{SMS_AD}, EMAIL_AD = #{EMAIL_AD}
        where USER_UID = #{USER_UID}
    </update>

    <!-- call UserCRUD.deleteByUSER_UID -->
    <delete id="deleteByUSER_UID" parameterType="Map">
        DELETE FROM userdata 
        WHERE USER_UID = #{USER_UID}
    </delete>


    <!-- call UserCRUD.createUSERDATA -->
    <insert id="createUSERDATA" parameterType ="Map">
        insert into userdata (USER_UID, NAME, ID, PASSWORD, PHONE_NUMBER, BIRTHDAY, EMAIL, SMS_AD, EMAIL_AD)
        VALUE (#{USER_UID},#{NAME},#{ID},#{PASSWORD},#{PHONE_NUMBER},#{BIRTHDAY},#{EMAIL}
        <choose>
        <when test="SMS_AD != null">
            , '1'
        </when>
        <otherwise>
            , '0'
        </otherwise>
        </choose>

        <choose>
        <when test="EMAIL_AD != null">
            , '1'
        </when>
        <otherwise>
            , '0'
        </otherwise>
        </choose>

        )
    </insert>

    


    <!-- call UserCRUD.attachInsertMulti -->
    <insert id="attachInsertMulti" parameterType="Map">
        insert into CIP_ATTACHFILE
        (ATTACHFILE_SEQ, SOURCE_UNIQUE_SEQ, ORGINALFILE_NAME, PHYSICALFILE_NAME
        , REGISTER_SEQ, REGISTRY_DATE, MODIFIER_SEQ, MODIFY_DATE)
        values
        <!-- ('2023.01.2612505201', 'TEMP_29', 'cast.txt', '20230126_112456'
        ,'UUID-1111-1111111',sysdate(),'UUID-1111-1111111',sysdate()),('2023.01.2612505202', 'TEMP_29', 'cast01.txt', '20230126_112456'
        ,'UUID-1111-1111111',sysdate(),'UUID-1111-1111111',sysdate())     -->
        <foreach collection="attachfiles" item="attachfile"
                open="(" close=")" separator="),(">
            #{attachfile.ATTACHFILE_SEQ}, #{attachfile.SOURCE_UNIQUE_SEQ}, #{attachfile.ORGINALFILE_NAME}, #{attachfile.PHYSICALFILE_NAME}
            ,#{attachfile.REGISTER_SEQ},sysdate(),#{attachfile.MODIFIER_SEQ},sysdate()
        </foreach>
    </insert>

</mapper>